# =============================================
# Sistema C5 - Alerta Ciudadana
# Archivo de configuración de entorno
# Copia este archivo como .env para usar
# =============================================

# --- Base de Datos PostgreSQL ---
DB_USER=user
DB_PASSWORD=password
DB_NAME=sistema_alertas
DB_PORT_MASTER=5432
DB_PORT_REPLICA=5433

# --- Puertos de Microservicios ---
MS_NOTIFICACIONES_PORT=3004
MS_HISTORIAL_PORT=3005
NGINX_PORT=8080

# --- Broker MQTT ---
MQTT_PORT=1883

# --- Redis ---
REDIS_PORT=6379

# --- gRPC (comunicación ms-notificaciones → ms-historial) ---
GRPC_PORT=50051
